{
  "extends": [
    "next/core-web-vitals",
    "@rocketseat/eslint-config/next",
    "plugin:import/typescript",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:storybook/recommended"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "ignorePatterns": [
    "*.d.ts"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "ignorePackages": true,
        "pattern": {
          "svg": "ignorePackages"
        }
      }
    ],
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "import/max-dependencies": [
      1,
      {
        "max": 40
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}